<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/bootstrap/bootstrap.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/custom/style.css')}}">
    <title>Friendships</title>
</head>
<body class="overflow-hidden">
    <div class="container my-5 px-5 py-3">
        <div class="row bg-light shadow rounded">
            <div class="col-9">
                <h1>FRENSHIP</h1>
                <p>Why, hello there, {{ session['first_name'] }}!</p>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-end">
                <p class="m-0"><a class="btn btn-primary" href="/logout">Logout</a></p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col bg-light shadow rounded p-3 ">
                <div class="row" >
                    <h2>Friendships</h2>
                    <div class="table-responsive" style="max-height: 50vh;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>User</th>
                                    <th>Friend</th>
                                </tr>
                            </thead>
                            <tbody class="overflow-auto" >
                                {% for friendship in friendships %}
                                <tr>
                                    <td>{{ friendship.first_name }} {{ friendship.last_name }}</td>
                                    <td>{{ friendship.friends[0].first_name }} {{ friendship.friends[0].last_name }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td class="text-muted">Most recent friendship created on...</td>
                                    <td class="text-muted">{{ created.created_at.strftime('%m-%d-%Y at %H:%M') }}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>  
            </div>

            <div class="col bg-light shadow rounded ms-3 p-3">
                <div class="row mb-3">
                    <!-- Add User form -->
                    <div class="col">
                        <h2>Add User</h2>

                        <!-- Flash messages form validation -->
                        {% with errors = get_flashed_messages(category_filter=["create_user"]) %}
                        {% if errors %}
                        <div class="container px-3 mb-3">
                            <ul class="flashes list-group">
                                {% for msg in errors %}
                                <li class="list-group-item list-group-item-danger">{{ msg }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}
                        {% endwith %}

                        <form action="/user/add" method="post">
                            <div class="row mb-3">
                                <label class="col-form-label col-sm-3">First Name</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" name="first_name">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-form-label col-sm-3">Last Name</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="text" name="last_name">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-form-label col-sm-3"></label>
                                <div class="col-sm-9">
                                    <input class="btn btn-primary my-3" type="submit" value="Add User">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row">
                    <!-- Create Friendship form -->
                    <div class="col">
                        <h2>Create Friendship</h2>
                        <form action="/friend/add" method="post">
                            <div class="row mb-3 mt-3">
                                <label class="col-sm col-form-label" for="user_id">User</label>
                                <div class="col-sm-9">
                                    <select class="form-select" name="user_id">
                                        <option selected="">Choose a user</option>
                                        {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm col-form-label" for="friend_id">Fren</label>
                                <div class="col-sm-9">
                                    <select class="form-select" name="friend_id">
                                        <option selected="">Choose a fren</option>
                                        {% for user in users %}
                                        <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <label class="col-sm col-form-label"></label>
                                <div class="col-sm-9">
                                    <input type="submit" class="col-sm btn btn-primary" value="Create Frenship">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>